<h3>Blogs</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Cover Image</th>
      <th>Blog Title</th>
      <th>Category</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Options</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of blogs; let i = index">
      <th>{{i+1}}</th>
      <td> <img src="{{item.coverImage}}" style="width: 100px; height: auto;" alt="Blog Cover Image"></td>
      <td>{{item.title}}</td>
      <td>{{item.category.categoryName}}</td>
      <td>{{item.createdAt | date }}</td>
      <td>{{item.updatedAt | date}}</td>
      <td>
        <button class="btn btn-outline-danger" > <i class="fa fa-trash" (click)="delete(item.id)"></i></button>
        <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editModal" (click)="onSelected(item)"><i class="fa fa-edit"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createModal" ><i class="fa fa-plus"></i> New Blog</button>

<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form #createForm="ngForm" (ngSubmit)="create(); createForm.resetForm()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="createModalLabel">Create New Blog</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Blog Title:</label>
                <input class="form-control" type="text" name="title" [(ngModel)]="newBlog.title" required="">
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                    <div *ngIf="entry.key==='Title'">
                  <span class="text-danger">{{entry.value}}</span>
                </div>
                </div>
              </div>
        </div>
              </div>

              <div class="form-group">
                <label>Blog Cover Image:</label>
                <input class="form-control" type="text" name="coverImage" [(ngModel)]="newBlog.coverImage" required="">
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='CoverImage'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
            </div>
              </div>

              <div class="form-group">
                <label>Blog Image:</label>
                <input class="form-control" type="text" name="blogImage" [(ngModel)]="newBlog.blogImage" required="">
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='BlogImage'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
        </div>
              </div>

              <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" type="text" name="description" [(ngModel)]="newBlog.description" required="" rows="4"></textarea>
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='Description'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
            </div>
              </div>

              <div class="form-group">
                <label>Category:</label>
                <select name="categoryId" class="form-control" [(ngModel)]="newBlog.categoryId" required="">
                  <option>Select Category</option>
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.categoryName}}</option>
                </select>
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='CategoryId'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
        </div>
              </div>

            </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          <button  type="submit" class="btn btn-primary" ><i class="fa fa-save"></i> Save changes</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <form #editForm="ngForm" (ngSubmit)="update()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Update Blog</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Blog Title:</label>
                <input class="form-control" type="text" name="title" [(ngModel)]="editBlog.title" required="">
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                    <div *ngIf="entry.key==='Title'">
                  <span class="text-danger">{{entry.value}}</span>
                </div>
                </div>
              </div>
        </div>
              </div>

              <div class="form-group">
                <label>Blog Cover Image:</label>
                <input class="form-control" type="text" name="coverImage" [(ngModel)]="editBlog.coverImage" required="">
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='CoverImage'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
            </div>
              </div>

              <div class="form-group">
                <label>Blog Image:</label>
                <input class="form-control" type="text" name="blogImage" [(ngModel)]="editBlog.blogImage" required="">
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='BlogImage'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
        </div>
              </div>

              <div class="form-group">
                <label>Description:</label>
                <textarea class="form-control" type="text" name="description" [(ngModel)]="editBlog.description" required="" rows="4"></textarea>
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='Description'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
            </div>
              </div>

              <div class="form-group">
                <label>Category:</label>
                <select name="categoryId" class="form-control" [(ngModel)]="editBlog.categoryId" required="">
                  <option>Select Category</option>
                  <option *ngFor="let category of categories" value="{{category.id}}">{{category.categoryName}}</option>
                </select>
                <div *ngIf="errors.length > 0">
                  <div *ngFor="let errorObj of errors">
                    <div *ngFor="let entry of (errorObj | keyvalue)">
                      <div *ngIf="entry.key==='CategoryId'">
                      <span class="text-danger">{{entry.value}}</span>
                    </div>
                    </div>
                  </div>
        </div>
              </div>

            </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          <button type="button" type="submit" class="btn btn-primary" ><i class="fa fa-edit"></i> Update changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
